<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Unemployment Croatia</title>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.0/d3.min.js' charset='utf-8'></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.5.0/metricsgraphics.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.5.0/metricsgraphics.js">
  </script>

  <link rel="stylesheet" href="assets/style.css">
  <script src="assets/charts.js"></script>
</head>

<body>
  <div id="unemployed" class="chart"></div>
  <div id="openings" class="chart"></div>
</body>
</html>
