<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Unemployment Croatia</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

</head>
<body>
  <h1>Yo!!</h1>
  <canvas id="myChart" width="400" height="400"></canvas>
</body>
</html>



<script>
  $(function() {

    function initializeChart(data) {
    var data = {
              labels: data.time_series,
              datasets: [
                  {
                      label: "Openings",
                      fillColor: "rgba(220,220,220,0.2)",
                      strokeColor: "rgba(220,220,220,1)",
                      pointColor: "rgba(220,220,220,1)",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(220,220,220,1)",
                      data: data.openings
                  },
                  {
                      label: "Unemployes people",
                      fillColor: "rgba(151,187,205,0.2)",
                      strokeColor: "rgba(151,187,205,1)",
                      pointColor: "rgba(151,187,205,1)",
                      pointStrokeColor: "#fff",
                      pointHighlightFill: "#fff",
                      pointHighlightStroke: "rgba(151,187,205,1)",
                      data: data.unemployed
                  }
              ]
          };


      var ctx = document.getElementById("myChart").getContext("2d");
      var myLineChart = new Chart(ctx).Line(data);

    }

    function processData(data) {
      var unemployed_array = [];
      var openings_array = [];
      var time_array = [];

      $.each(data, function(i, val) {
        unemployed_array.push(val.unemployed_people);
        openings_array.push(val.job_openings);
        time_array.push(val.created_at);
      });

      var processed_data = {
        unemployed: unemployed_array,
        openings: openings_array,
        time_series: time_array
      }

      return processed_data;
    }

    function chartCallback(data) {

      var processed_data = processData(data);
      initializeChart(processed_data);

    }

    function getData(chartCallback) {
      $.getJSON( "/.json", function( data ) {
        // getJSON is asynchronous so data would be lost outside of scope
        chartCallback(data)
      });
    }

    getData(chartCallback);


  });


</script>
