<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Unemployment Croatia</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js">
  </script>

</head>
<body>
  <h1>Yo!!</h1>
  <svg id="myChart" width="400" height="400"></svg>
</body>
</html>



<script>
  $(function() {

    function initializeChart(data) {

      var data = [{
          "sale": "202",
          "year": "2000"
      }, {
          "sale": "215",
          "year": "2001"
      }, {
          "sale": "179",
          "year": "2002"
      }, {
          "sale": "199",
          "year": "2003"
      }, {
          "sale": "134",
          "year": "2003"
      }, {
          "sale": "176",
          "year": "2010"
      }];



    }

    function processData(data) {
      var unemployed_array = [];
      var openings_array = [];
      var time_array = [];

      $.each(data, function(i, val) {
        unemployed_array.push(val.unemployed_people);
        openings_array.push(val.job_openings);
        time_array.push(val.created_at);
      });

      var processed_data = {
        unemployed: unemployed_array,
        openings: openings_array,
        time_series: time_array
      }

      return processed_data;
    }

    function chartCallback(data) {

      var processed_data = processData(data);
      initializeChart(processed_data);

    }

    function getData(chartCallback) {
      $.getJSON( "/.json", function( data ) {
        // getJSON is asynchronous so data would be lost outside of scope
        chartCallback(data)
      });
    }

    getData(chartCallback);


  });


</script>
