<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Unemployment Croatia</title>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.8.0/chartist.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.8.0/chartist.min.js">
  </script>

</head>
<body>
  <h1>Yo!!</h1>
  <div class="ct-chart ct-double-octave"></div>
</body>
</html>



<script>
  $(function() {

    function initializeChart(data) {
      var chart_data = {
        labels:    data.time_series,
        series: [data.openings, data.unemployed]
      }

      new Chartist.Line('.ct-chart', chart_data);
    }

    function process_date(raw_date) {
      var converted_date = new Date(raw_date);
      var day = converted_date.getDate();
      var month = converted_date.getMonth() + 1; //Months are zero based
      var year = converted_date.getFullYear();

      return day + "-" + month + "-" + year;
    }

    function processData(data) {
      var unemployed_array = [];
      var openings_array = [];
      var time_array = [];

      $.each(data, function(i, val) {
        unemployed_array.push(val.unemployed_people);
        openings_array.push(val.job_openings);
        time_array.push(process_date(val.fetch_time));
      });

      var processed_data = {
        unemployed: unemployed_array,
        openings: openings_array,
        time_series: time_array
      }

      return processed_data;
    }

    function chartCallback(data) {
      var processed_data = processData(data);
      initializeChart(processed_data);

    }

    function getData(chartCallback) {
      $.getJSON( "/.json", function( data ) {
        // getJSON is asynchronous so data would be lost outside of scope
        chartCallback(data)
      });
    }

    getData(chartCallback);


  });


</script>
